// home page

* {
  box-sizing: border-box;
}
.menu-panel {

  color: white;
  cursor: pointer;
  height: 128px;
  width: 50px;
  font-size: 22px;
    margin: 12px 0;
  position:relative;
  z-index: 10;

  &:not(.force) {
    padding: 16px;
    width: 512px;
    display: inline-block;
  }

  &:nth-child(1) {
    background: #d9411e;
  }
  transition: height 300ms ease, width 300ms ease, padding 300ms ease,
              font-size 300ms ease;

  &:hover:not(.force) {
    width: 600px;
    height: 128px;
  }

  &.collapsed {
    width: 50px;
    //padding: 2px;
    font-size: 8px;
    .standard {
      display: none;
    }
    &:hover {
      width: 500px;
      font-size: 22px;
      position: relative;
      .standard {
        display: inline;
      }
    }
    &.force {
      // negate hover expansion
      width: 50px;
      font-size: 8px;
    }
  }
}

ui-view {
  //width: 50px;
  height: 100vh;
  overflow-y: auto;
  display: block;
  position: absolute;
  margin-left: 50px;
  background: red;
}