#articles {
  .article-snipit {
    @extend .g-showcase-panel-generic;
    background: #f4f4f4;

    h5 {
      margin-bottom: 4px;
    }
    h1 {
      margin-top: 4px;
    }
  }

  #loading-wrapper {
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    margin-top: 80px;
  }
  .content-loading {
    display: -webkit-flex;
    display: flex;
    justify-content: center;
  }

  #read-more {
  font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif
  }

  .tags > .badge {
    font-size: 10px;
    padding-top: 5px;
    background: white;
    color: #686868;
    margin-right: 4px;
  }

}