<section id="articles">
    <h3>Articles by me</h3>
    <np-loading ng-if="articles === null"></np-loading>
    <div ng-if="articles !== null">
        <div class="article-snipit" ng-repeat="article in articles">
            <h5 style="font-family: monospace; color: #34495e ">{{article.date}}</h5>
            <a href="{{baseUrl+'/articles/'+article.urlTitle}}"><h1>{{article.title}}</h1></a>
            <div class="md-container" ng-show="true">{{article.preview}}<br/><a id="read-more" href="/articles/{{article.urlTitle}}">read more</a></div>
            <div class="content-loading" ng-if="false"><np-loading></np-loading></div>
            <div class="tags"><span class="badge" ng-repeat="tag in article.tags">{{tag}}</span></div>
        </div>
    </div>
</section>