<section id="media">
  <h3>Watch & Hear</h3>
  <div class="well">
    <h2>codeWithNick</h2>
    <p>My youtube channel contains lots of great content where I teach the basic concepts of coding and web development. New content is being added every day!</p>
    <a href="https://www.youtube.com/codewithnick" target="_blank">youtube.com/codewithnick</a>
  </div>
  <div class="well">
    <h2>Podcasts</h2>
    <iframe width="100%" height="150" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/310439681&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=false"></iframe>
  </div>
</section>