<section id="sideprojects">
  <div class="g-showcase-panel -green" ng-repeat="project in mySideprojects">
    <div class="header">
      <h1 style="display: inline"><a href="{{project.href}}" target="_blank">{{project.title}}</a></h1><span class="badge" ng-if="project.role">{{project.role}}</span>
    </div>
    <div class="showcase-split">
      <div ng-if="project.imageSrc"><img style="width: 100%;" src="{{project.imageSrc}}"></div><!--
    --><div ng-style="">{{project.description}}</div>
    </div>
  </div>
  <div class="g-showcase-panel -green" ng-repeat="project in libraries">
    <div class="header">
      <h1 style="display: inline"><a href="{{project.href}}" target="_blank">{{project.title}}</a></h1><span class="badge invert" ng-if="project.role">{{project.role}}</span>
    </div>
    <div class="showcase-split">
      <div ng-if="project.imageSrc"><img style="width: 100%;" src="{{project.imageSrc}}"></div><!--
    --><div ng-style="">{{project.description}}</div>
    </div>
  </div>
</section>