<section id="sideprojects">
  This is the side projects section
  <div class="g-showcase-panel -green" ng-repeat="project in mySideprojects">
    <div class="header">
      <h1><a href="{{project.href}}" target="_blank">{{project.title}}</a></h1>
    </div>
    <div class="showcase-split">
      <div ng-if="project.imageSrc" style="width:50%;"><img style="width: 100%; margin-top: -20% " src="{{project.imageSrc}}"></div><!--
    --><div ng-style="{width: project.imageSrc ? '50%' : '100%'}">{{project.description}}</div>
    </div>
  </div>
</section>